@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* shared styles */

*{
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.text-style{
    color:#FF42A5;
}
.btn-primary{
    border: none;
    border-radius: 48px;
    background-color: #FF42A5;
    padding: 21px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}
.general-title{
    color: #0B0223;
    text-align:center;
    font-size: 3rem;
    font-weight: 700;
}


/* nav section styles */

nav{
    padding:0px 240px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);   
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 32px;
    color: #3C354F;
    font-size: 1.13rem;
    font-weight: 500;
}
.nav-menu a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.nav-menu a:hover{
    color:#FF42A5;
}
.menu-icon-conteiner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 8px ;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
}
.nav-img1{
    width: 34px;
    height: 24px;
}
.nav-img2{
    width: 24px;
    height: 24px;
}

/* banner section styles */

.banner{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
}
.banner-conteiner{
    margin: 0 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 68px;
}
.banner-description-icon{
    display: flex;
    gap: 12px;
    margin-bottom:17px ;
}
.banner-button-conteiner{
    display: flex;
    margin-top: 41px ;
    gap:24px ;
}
.banner-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-main-title{
    font-size: 6rem;
    font-weight: 800;
    color: #F948B2;
}
.banner-description{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}
.banner-btn{
    border: none;
    border-radius: 48px;
    background-color: #4EC5F7;
    padding: 21px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* card section styles */

.card-section{
    margin-bottom: 120px;
    background-color: #FFF;
}
.card-section-description{
    color: #534C64;
    text-align: center;
    font-size: 1.12rem;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 48px;
}
.card-conteiner{
    padding: 0px 240px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}
.card-caption{
    margin-top: 24px;
}
.card{
    width: 342px;
    height: 400px;
    position: absolute;
    border-radius: 16px;
    border: 1px solid turquoise;
    background-image: url(images/4.png);
    transform: translateY(-454px);
}
.card-img{
    width: 48px;
    height: 48px;
    padding: 156px 146px 0px 148px;
}
.card-description{
    color:#FF42A5 ;
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 115px;
    padding-top:16px ;
    
}